<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>GET vs POST</h1>
    <h2>GET Request</h2>
    <form action="/user" method="get">
        <label for="user">Username</label>
        <input type="text" name="username" id="user" required>
        <label for="password">password</label>
        <input type="password" name="password" id="password" required>
        <button type="submit">Submit</button>
    </form>
    <h2>POST Request</h2>
    <form action="/user" method="post">
        <label for="user">Username</label>
        <input type="text" name="username" id="user" required>
        <label for="password">password</label>
        <input type="password" name="password" id="password" required>
        <button type="submit">Submit</button>
    </form>
</body>
</html>