<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Comments</h1>
    <% comments.forEach((com)=>{ %>
        <p><span><%=com.id %> </span><%=com.user %>: <span><%=com.text %></span> <form action="/comments/<%=com.id%>?_method=delete" method="post"><button>delete</button></form></p>
    <% })%>

    <form id="show">
        <label for="id">Enter Comment Id</label>
        <input type="text" name="id" id="id" required>
        <button>Show</button>
    </form>
    <a href="/comments/new">New Comment</a>
    <script>
        document.getElementById('show').addEventListener('submit',show);
        function show(e){
            e.preventDefault();
            window.location.href="http://localhost:5050/comments/"+document.getElementById("id").value;
        }
    </script>
</body>
</html>