<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= comment.user %> 's comment</h1>
    <h3><%= comment.text %></h3>
    <a href="/comments/<%= comment.id %>/edit">Edit</a>
    <a href="/comments">All Comments</a>
    <form action="/comments/<%= comment.id%>/?_method=delete" method="post"><button>Delete</button> </form>
</body>
</html>